jupyterlab==3.6.3
matplotlib==3.7.1
pandas==2.0.1
numpy==1.23.5
seaborn==0.12.2
statsmodels==0.13.5
scikit-learn==1.2.2
pydot
protobuf
plotly==5.3.1
Keras
tensorflow
tensorflow-hub
tensorflow-docs
xgboost==1.7.5
streamlit
streamlit_folium 
geopandas
st_pages
